background {
    background-color: white;
}

layer[name=transportation][zoom=13] {
    line-width: 2w;
}

layer[name=transportation][zoom=14] {
    line-width: 2w;
}

layer[name=waterway] {
    background-color: rgb(14, 28, 223);
    line-width: 2px;
}

layer[name=aeroway] {
    background-color: rgba(223, 14, 84, 0.2);
}

layer[name=boundary] {
    background-color: rgb(223, 45, 14);
    line-width: 2px;
}