layer[name=water] {
    background-color: rgba(14, 181, 223, 1.0);
    border-width: 3px;
    border-color: rgba(0, 0, 0, 0.952);
}

layer[name=park] {
    background-color: rgba(14, 124, 82, 0.5);
}

layer[name=building] {
    background-color: rgba(151, 46, 28, 1.0);
}

layer[name=landcover] {
    background-color: rgba(11, 85, 11, 0.527);
}

layer[name=landuse] {
    background-color: rgba(209, 196, 14, 0.438);
}

layer[name=transportation] {
    background-color: rgba(21, 124, 102, 0.959);
}

layer[name=waterway] {
    background-color: rgb(14, 28, 223);
}

layer[name=boundary] {
    background-color: rgb(223, 45, 14);
    line-width: 2px;
}