background { background-color: rgb(250, 250, 250); }

layer[name="water"]     { background-color: rgba(6, 204, 204, 0.3); z-index: 10; }
layer[name="waterway"]  { background-color: rgba(35, 117, 224, 0.6); line-width: 1px; z-index: 15; }
layer[name="landcover"] { background-color: rgba(83, 224, 51, 0.3); z-index: 20; }
layer[name="landuse"]   { background-color: rgba(229, 180, 4, 0.3); z-index: 25; }
layer[name="park"]      { background-color: rgba(132, 234, 91, 0.3); z-index: 30; }
layer[name="boundary"]  { background-color: rgba(197, 69, 211, 0.6); line-width: 1px; z-index: 35; }
layer[name="aeroway"]   { background-color: rgba(81, 174, 181, 0.3); z-index: 40; }

layer[name="transportation"] { background-color: rgba(242, 182, 72, 0.6); line-width: 2px; z-index: 45; }

layer[name="building"]  { background-color: rgba(43, 43, 43, 0.3); z-index: 50; }

layer[name="housenumber"] { background-color: rgba(40, 40, 40, 0.8); line-width: 4px; z-index: 55; }
layer[name="poi"]         { background-color: rgba(59, 181, 10, 0.8); line-width: 4px; z-index: 60; }
